In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/pk/Desktop/MachineLearning/Time series/July29/PH-Sales.csv")

In [3]:
df.head()

  Month-Year  Number of Tractor Sold
0     Jan-03                     141
1     Feb-03                     157
2     Mar-03                     185
3     Apr-03                     199
4     May-03                     203